<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ .Site.Title }} {{ if .IsPage }} - {{.Title}} {{end}}</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.png">
    <meta name="description" content="TODO">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preload" href="assets/quicksand-v30-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="assets/bitter-v32-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="assets/ahri.css">
</head>

<body>
<a href="/">
    <header class="page-header">
        <div class="page-header-text"> Azir's Articles - Theme based on ahri. </div>
    </header>
</a>



<section class="page">
    <h1>{{.Title}}</h1>
    <section class="content">
        <div class="post__text post__text-html post__text_v1">
            {{.Content}}
        </div>
    </section>

    <section class="references">
        <h4>References:</h4>
        <nav>
            <ol class="list-of-pages">
                <li><a href="#">{{.Title}}</a></li>
                <li><a href="#">本书“自然语言处理的实际应用”</a></li>
                <li><a href="#">泄漏抽象定律</a></li>
                <li><a href="#">DevOps或我们如何失去工资和IT行业的未来，第二部分</a></li>
                <li><a href="#">减少交互式可视化中的标签重叠</a></li>
                <li><a href="#">没有DevOps的世界。那会是什么？</a></li>
                <li><a href="#">模块化手机，笔记本电脑和手表-轰动一时的项目发生了什么？</a></li>
                <li><a href="#">俄罗斯电子设备藏在哪里</a></li>
            </ol>
        </nav>
    </section>

</section>

</body>
</html>
