<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ .Site.Title }} {{ if .IsPage }} - {{.Title}} {{end}}</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.png">
    <meta name="description" content="{{ .Site.Title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preload" href="assets/quicksand-v30-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="assets/bitter-v32-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="assets/ahri.css">
</head>

<body>
<a href="/">
    <header class="page-header">
        <div class="page-header-text"> {{ .Site.Title }} - Theme based on ahri. </div>
    </header>
</a>
<section class="page">

{{ if .IsHome }}
    <h1>所有文章:</h1>
    <section class="articles">
        <nav>
            <ol class="list-of-pages">
                {{  range .Pages }}
                <li><a href="{{.Permalink}}">[{{.Date.Format "2006/01/02" }}] {{.Title}}</a></li>
                {{  end  }}
            </ol>
        </nav>
    </section>
{{end}}

{{ if .IsPage }}
    <h1>{{.Title}}</h1>
    <section class="content">
        <div>
            {{.Content}}
        </div>
    </section>
{{end}}

</section>

</body>
</html>
