<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" href="assets/favicon.png">
    <link href="assets/elise.css" rel="stylesheet">

    <title>{{.Title}}</title>
    <meta name="description" content="{{.Title}}" />
</head>

<body>
<header class="site-header">
    <div class="wrapper">
        <a class="site-title" href="/">{{.Title}}</a>
        <nav class="site-nav">
            {{ range .Site.Menus.theme }}
            <a class="page-link" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </nav>
    </div>
</header>

<main aria-label="Content" class="page-content">
    <div class="wrapper">
        <div class="home">
            <ul class="post-archives">
                {{  range .Pages }}
                <li>
                    <span class="post-meta">{{.Date.Format "January 2, 2006" }}</span>
                    <h2>
                        <a class="post-link" href="{{.Permalink}}">{{.Title}}</a>
                    </h2>
                </li>
                {{  end  }}
            </ul>
        </div>
    </div>
</main>

<footer class="site-footer">
    <div class="wrapper">
        <p>
            Copyright <a href="https://github.com/ipv4sec">ipv4sec</a> Licensed under CC BY-NC-SA 4.0
        </p>
    </div>
</footer>
</body>
</html>