.site-code-gbn ins,.site-code-tar ins,.site-code-tde ins,.site-code-ten ins,.site-code-tes ins,.site-code-tfr ins,.site-code-thi ins,.site-code-tid ins,.site-code-tjp ins,.site-code-tpt ins,.site-code-tzh ins {
    height: 0!important
}

/* quicksand-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('quicksand-v30-latin-regular.woff2') format('woff2');
}

blockquote {
    border-left: 3px solid #ffeb3b;
    background-color: #ffc;
    padding: 1rem;
}

.disable-scroll {
    overflow: hidden
}

.funny-pics-module-open-btn {
    position: fixed;
    top: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #000;
    opacity: .95
}

.funny-pics-module-open-btn:hover {
    cursor: pointer;
    background: #ff0;
    font-weight: 700;
    opacity: 1
}

.funny-pics-module-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: gray
}

.funny-pics-module-modal-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto
}

.funny-pics-module-modal-window {
    justify-content: center;
    align-items: center;
    width: 90%
}

.funny-pics-module-modal-items-trigger {
    margin-bottom: 20px;
    background: grey
}

.funny-pics-module-modal-item-wrapper,.funny-pics-module-modal-items-trigger {
    justify-content: center;
    align-items: center;
    width: 100%
}

.funny-pics-module-modal-item-picture {
    width: 100%
}

.funny-pics-module-modal-close-btn {
    position: fixed;
    top: 0;
    right: 20px;
    padding: 5px;
    background: red;
    border-radius: 2px;
    border: 1px solid #000;
    opacity: .8
}

.funny-pics-module-modal-close-btn:hover {
    cursor: pointer;
    opacity: 1
}

.spinner-container {
    text-align: center
}

.spinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px
}

.spinner div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #686868;
    animation: a 1.2s cubic-bezier(0,.5,.5,1) infinite
}

.spinner div:first-child {
    left: 6px;
    animation-delay: -.24s
}

.spinner div:nth-child(2) {
    left: 26px;
    animation-delay: -.12s
}

.spinner div:nth-child(3) {
    left: 45px;
    animation-delay: 0
}

@keyframes a {
    0% {
        top: 6px;
        height: 51px
    }

    50%,to {
        top: 19px;
        height: 26px
    }
}

html {
    font-family: Quicksand,sans-serif
}

body {
    margin: 0
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a;
    width: 100%;
    height: 160px;
    position: relative
}

.page-header-text {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
    font-style: italic;
    color: azure
}

.page {
    text-align: center;
    margin-right: 35px;
    margin-left: 35px;
    overflow-x: hidden
}

p {
    text-align: justify
}

a {
    color: #3f51b5
}

ol,ul:not(.list-of-pages) {
    max-width: max-content;
    margin: 0 auto;
    text-align: left
}

table {
    margin: 0 auto
}

th {
    background: #d3d3d3
}

.block-of-material>table {
    text-align: justify;
    margin: 0 auto;
    border-collapse: collapse
}

.block-of-material>table td,.block-of-material>table th {
    border: 1px solid #000
}

a[href*=http]:not(.tools-bar a) {
    background-position: 100%;
    background-repeat: no-repeat;
    padding-right: 13px
}

.printfooter {
    margin-top: 40px
}

.page-headings-container {
    background: bisque;
    padding: 5px
}

.page-headings-container,.tools-bar {
    display: none;
    position: fixed;
    z-index: 1
}

.tools-bar {
    top: 170px;
    right: 5px;
    border: 1px solid #000
}

.tools-bar a {
    display: block;
    text-decoration: none;
    opacity: .7
}

.tools-bar a:hover {
    opacity: 1
}

@media (min-width: 1000px) {
    p {
        text-align:center
    }
}

.all-articles-navigation-panel,.more-articles-navigation-panel {
    text-align: left
}

.donate-btn {
    display: none
}

.apn {
    margin-top: 10px;
    color: #ffc107;
    background-color: #525353;
    padding: 10px;
    text-align: center
}

.ad-block-container-image-wrapper {
    border: thin solid silver;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto
}

.ad-block-container-image-wrapper:hover {
    cursor: pointer
}

.ad-block-container-image {
    max-width: 220px;
    max-height: 150px;
    width: auto!important
}

.ad-block-container-image-title {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center
}

.demo-article-container {
    border: thick double #795548;
    padding: 15px;
    margin: 15px
}

.demo-article-image {
    max-width: 50%
}

.demo-article-text {
    padding: 10px
}

@media (min-width: 1000px) {
    .demo-article-text {
        padding:30px
    }
}

.game-2048-container {
    display: flex;
    justify-content: center
}

.game-2048-iframe {
    width: 100%;
    height: 600px
}

@media (min-width: 1000px) {
    .game-2048-iframe {
        width:50%
    }
}

.ad-click-notification,.new-site-notification {
    display: none;
    position: fixed;
    top: 0;
    padding: 5px;
    border-radius: 5px;
    z-index: 2
}

.ad-click-notification {
    right: 0;
    background-color: #8bc34a
}

.new-site-notification {
    left: 0;
    background-color: orange
}

.amazon-side-widget {
    position: fixed;
    top: 180px;
    left: 15px;
    text-align: center;
    background-color: #8bc34a;
    padding: 5px;
    border-radius: 5px;
    border-top-right-radius: 0;
    z-index: 2;
    transition: left 1s ease-out
}

.amazon-side-widget.is-closed {
    left: -130px
}

.amazon-side-widget-title {
    padding-bottom: 4px;
    text-shadow: 2px 1px 2px #fff
}

.amazon-side-widget-nav-btn {
    position: absolute;
    top: 95px;
    background-color: #8bc34a;
    padding: 7px;
    border-radius: 50%;
    color: #3a3a3a;
    cursor: pointer
}

.amazon-side-widget.is-closed .amazon-side-widget-nav-btn {
    display: none
}

.amazon-side-widget-nav-btn:hover {
    background-color: #a5de61
}

.amazon-side-widget-prev-btn {
    left: -12px
}

.amazon-side-widget-next-btn {
    right: -12px
}

.amazon-side-widget-more-btn {
    display: block;
    text-align: center
}

.amazon-side-widget-more-btn~img {
    display: none
}

.amazon-side-widget-close-btn {
    position: absolute;
    right: -18px;
    top: 0;
    background-color: #8bc34a;
    padding: 5px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    transition: right 1s ease-out
}

.amazon-side-widget.is-closed .amazon-side-widget-close-btn {
    right: -18px
}

.amazon-side-widget-close-btn:hover {
    background-color: #a5de61
}

.amzn-native-container {
    margin: 0 auto
}

#amazingaudioplayer-9 {
    background-color: #333;
    border: 1px solid #222;
    border-radius: 2px;
    margin: 4px;
    padding: 12px 8px 4px;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15),0 0 3px rgba(0,0,0,.5);
    background-image: linear-gradient(180deg,#444 0,#111)
}

#amazingaudioplayer-9 div {
    box-sizing: content-box
}

#amazingaudioplayer-9 .amazingaudioplayer-image {
    display: block;
    position: relative;
    float: left;
    margin: 4px;
    overflow: hidden;
    border-radius: 4px
}

#amazingaudioplayer-9 .amazingaudioplayer-text {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    padding: 4px;
    width: 202px;
    height: 38px
}

#amazingaudioplayer-9 .amazingaudioplayer-title {
    display: block;
    color: #eee;
    font-family: Raleway,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700
}

#amazingaudioplayer-9 .amazingaudioplayer-info {
    display: block;
    color: #ddd;
    font-family: Arial,sans-serif;
    font-size: 11px;
    font-style: italic;
    margin-top: 4px
}

#amazingaudioplayer-9 .amazingaudioplayer-bar {
    position: relative;
    width: 202px;
    float: left
}

#amazingaudioplayer-9 .amazingaudioplayer-bar-buttons-clear,#amazingaudioplayer-9 .amazingaudioplayer-bar-clear {
    clear: both
}

#amazingaudioplayer-9 .amazingaudioplayer-bar-title {
    position: relative;
    float: left;
    color: #eee;
    font-family: Open Sans,sans-serif;
    font-size: 12px;
    line-height: 24px;
    margin: 0 8px
}

#amazingaudioplayer-9 .amazingaudioplayer-playpause {
    position: absolute;
    top: 0;
    left: 40px
}

#amazingaudioplayer-9 .amazingaudioplayer-pause,#amazingaudioplayer-9 .amazingaudioplayer-play {
    position: relative
}

#amazingaudioplayer-9 .amazingaudioplayer-stop {
    position: relative;
    float: left
}

#amazingaudioplayer-9 .amazingaudioplayer-prev {
    position: absolute;
    top: 0;
    left: 0
}

#amazingaudioplayer-9 .amazingaudioplayer-next {
    position: absolute;
    top: 0;
    left: 80px
}

#amazingaudioplayer-9 .amazingaudioplayer-loop {
    position: absolute;
    top: 12px;
    left: 142px
}

#amazingaudioplayer-9 .amazingaudioplayer-progress {
    position: absolute;
    top: 42px;
    left: 0;
    background-color: #222;
    box-shadow: -1px -1px 0 rgba(0,0,0,.5),1px 1px 0 hsla(0,0%,100%,.1);
    margin: 8px 4px;
    border-radius: 4px
}

#amazingaudioplayer-9 .amazingaudioplayer-progress-loaded {
    background-color: #444;
    border-radius: 4px
}

#amazingaudioplayer-9 .amazingaudioplayer-progress-played {
    border-radius: 4px;
    background-color: #e6e3da;
    background-image: linear-gradient(180deg,#fcfcfc 0,#e6e3da)
}

#amazingaudioplayer-9 .amazingaudioplayer-time {
    position: relative;
    float: right;
    color: #fff;
    font-family: Open Sans,sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 0 #000;
    line-height: 24px;
    margin: 0 4px
}

#amazingaudioplayer-9 .amazingaudioplayer-volume {
    position: absolute;
    top: 12px;
    left: 172px
}

#amazingaudioplayer-9 .amazingaudioplayer-volume-bar {
    background-color: #333;
    border: 1px solid #222;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15),0 0 3px rgba(0,0,0,.5);
    background-image: linear-gradient(180deg,#444 0,#111)
}

#amazingaudioplayer-9 .amazingaudioplayer-volume-bar-adjust {
    background-color: #222;
    box-shadow: -1px -1px 0 rgba(0,0,0,.5),1px 1px 0 hsla(0,0%,100%,.1)
}

#amazingaudioplayer-9 .amazingaudioplayer-volume-bar-adjust-active {
    background-color: #f0f0f0;
    box-shadow: inset 0 0 5px hsla(0,0%,100%,.5)
}

#amazingaudioplayer-9 .amazingaudioplayer-tracklist {
    display: block;
    position: relative
}

#amazingaudioplayer-9 .amazingaudioplayer-tracklist-container {
    display: block;
    position: relative;
    margin: 4px;
    padding: 12px 0
}

#amazingaudioplayer-9 .amazingaudioplayer-tracks-wrapper {
    position: relative
}

#amazingaudioplayer-9 .amazingaudioplayer-tracks {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0
}

#amazingaudioplayer-9 .amazingaudioplayer-track-item {
    position: relative;
    cursor: pointer;
    color: #999;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);
    line-height: 22px;
    margin: 0;
    padding: 0
}

#amazingaudioplayer-9 .amazingaudioplayer-track-item-active {
    cursor: pointer;
    color: #fff
}

#amazingaudioplayer-9 .amazingaudioplayer-track-item a {
    color: #999;
    text-decoration: none
}

#amazingaudioplayer-9 .amazingaudioplayer-track-item-active a {
    color: #fff;
    text-decoration: none
}

#amazingaudioplayer-9 .amazingaudioplayer-track-item-duration {
    position: absolute;
    top: 0;
    right: 0
}

#amazingaudioplayer-9 .amazingaudioplayer-tracklist-arrow-prev {
    position: absolute;
    top: 2px;
    right: 24px
}

#amazingaudioplayer-9 .amazingaudioplayer-tracklist-arrow-next {
    position: absolute;
    top: 2px;
    right: 6px
}

#amazingaudioplayer-9 .amazingaudioplayer-tracklist-clear {
    clear: both
}

#amazingaudioplayer-9 {
    position: fixed;
    top: 180px;
    right: 0;
    transition: right 1s ease-out
}

#amazingaudioplayer-9.is-closed {
    right: -348px
}

#amazingaudioplayer-9 .amazingaudioplayer-track-item a {
    display: none
}

.ap-close-btn {
    position: absolute;
    transform: rotate(-90deg);
    left: -98px;
    top: 62px;
    color: #fff;
    background-color: #3a3a3a;
    padding: 7px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    transition: left 1s ease-out
}

.ap-close-btn:hover {
    background-color: #4b4b4b
}

.main-page-items-container .date {
    position: absolute;
    margin-top: -10px;
    margin-left: -45px;
    padding: 5px;
    transform: rotate(-23deg);
    background: #fdfd92;
    border: 1px solid #000
}

.main-page-items-container .demo-article-image {
    width: auto
}

.main-page-items-container .demo-article-text {
    overflow: hidden;
    max-height: 700px
}

.main-page-items-container .demo-article-link {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    margin-top: 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627
}

.main-page-items-container .demo-article-link:hover {
    background-color: #5cbf2a
}

.main-page-items-container .demo-article-link:active {
    position: relative;
    top: 1px
}

.main-page-items-container .temp-container {
    display: none
}

.demo-articles-load-more-btn {
    display: inline-block;
    transform: scale(.5);
    margin: 30px;
    padding: 40px;
    background: #3d94f6;
    background-image: linear-gradient(180deg,#3d94f6,#1e62d0);
    color: #fff;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 100;
    box-shadow: 1px 1px 20px 0 #000;
    -webkit-box-shadow: 1px 1px 20px 0 #000;
    -moz-box-shadow: 1px 1px 20px 0 #000;
    text-shadow: 1px 1px 20px #000;
    cursor: pointer;
    text-align: center
}

.demo-articles-load-more-btn,.demo-articles-load-more-btn:hover {
    border-radius: 20px;
    border: 1px solid #337fed;
    text-decoration: none
}

.demo-articles-load-more-btn:hover {
    background: #1e62d0;
    background-image: linear-gradient(180deg,#1e62d0,#3d94f6)
}

.site-code-gb .sump-audio {
    display: none
}

.site-code-raw .video-block {
    position: relative
}

.site-code-raw .video-desc {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic
}

.site-code-raw .subtitle-time-start {
    font-weight: 600
}

.site-code-raw .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba(0,0,0,.6);
    z-index: 1;
    opacity: .8;
    border-radius: 6px;
    cursor: pointer
}

.site-code-raw .play-button,.site-code-raw .play-button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0)
}

.site-code-raw .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26px;
    border-color: transparent transparent transparent #fff
}

.site-code-raw .play-button:hover {
    background-color: red
}

.site-code-sgn .material-item__brief {
    font-size: 1rem
}



.page-header-logo-container {
  max-width: 600px;
  width: 80%;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.page img {
  width: 100%;
}

@media (min-width: 1000px) {
  p {
    text-align: center;
  }

  .page img {
    width: 50%;
  }
}