/* elise, forked from https://github.com/yous/whiteglass */

/* bitter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('bitter-v32-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('bitter-v32-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.pagination:after, .wrapper:after { content: ""; display: table; clear: both; }

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

body { font: 400 16px/1.5 Bitter, '\5FAE\8EDF\6B63\9ED1\9AD4','\5FAE\8F6F\96C5\9ED1','\534E\6587\7EC6\9ED1','\9ED1\4F53',arial,sans-serif; color: #111; background-color: #fdfdfd; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; word-wrap: break-word; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code { font-size: inherit; }

a { color: #2568ba; text-decoration: none; }

a:visited { color: #1d508f; }

a:hover { color: #111; text-decoration: underline; }


pre, code { font-family: Bitter, "Apple SD Gothic Neo", "Noto Sans", "Source Han Sans", "Noto Sans CJK JP", "Source Han Sans JP", "Noto Sans CJK KR", "Source Han Sans KR", NanumBarunGothic, AppleGothic, "Malgun Gothic", Dotum, sans-serif; font-size: 13px; border: 1px solid #e8e8e8; border-radius: 0; background-color: whitesmoke; }

code { padding: 1px 5px; }

pre { padding: 16px 20px;; overflow-x: auto; word-wrap: normal; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

.wrapper { max-width: -webkit-calc(1400px - (30px * 2)); max-width: calc(1400px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; padding-top: 10px;}

@media screen and (max-width: 1000px) { .wrapper { max-width: -webkit-calc(1400px - (30px)); max-width: calc(1400px - (30px)); padding-right: 15px; padding-left: 15px; } }

.site-header { min-height: 56px; position: relative; }

.site-title { font-size: 25px; line-height: 56px; letter-spacing: -1px; margin-bottom: 0; float: left; }

.site-title, .site-title:visited { color: #000; }

.site-nav { float: right; line-height: 56px; }

.site-nav .page-link { color: #000; line-height: 1.5; }

.site-nav .page-link:not(:last-child) { margin-right: 20px; }

@media screen and (max-width: 600px) { .site-nav .page-link { padding: 20px 0; margin-left: 20px; } .site-nav .page-link:not(:last-child) { margin-right: 0; } }

.site-footer { padding: 30px 0; font-size: 15px; color: #000; text-align: center; }

.page-content { padding: 30px 0; }

.page-heading { font-size: 20px; }

.post-list { margin-left: 0; list-style: none; }

.post-list .post-link:hover { text-decoration: none; }

.post-list > li { margin-bottom: 60px; }

.post-list > li:not(:first-child) { border-top: 4px solid #e8e8e8; padding-top: 60px; }

.post-archives { margin-left: 0; list-style: none; }

.post-archives .post-link { font-size: 24px; font-weight: normal;}

.post-archives > li { margin-bottom: 30px; }

.post-meta { font-size: 14px; color: #8a1c1c; }

.post-link, .post-link:visited { color: #111; }

.post-link:hover { color: #2568ba; }

.post-continue a { padding: 8px 15px; text-decoration: none; }

.post-continue a, .post-continue a:visited { color: #828282; background-color: #e8e8e8; }

.post-continue a:hover { color: white; background-color: #2568ba; }

.post-header { margin-bottom: 30px; }

.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; font-weight: normal;}

@media screen and (max-width: 1000px) { .post-title { font-size: 36px; } }

.post-content { margin-bottom: 30px; }

.post-content h1 { font-size: 36px; }

@media screen and (max-width: 1000px) { .post-content h1 { font-size: 34px; } }

.post-content h2 { font-size: 32px; }

@media screen and (max-width: 1000px) { .post-content h2 { font-size: 30px; } }

.post-content h3 { font-size: 28px; }

@media screen and (max-width: 1000px) { .post-content h3 { font-size: 26px; } }

.post-content h4 { font-size: 24px; }

@media screen and (max-width: 1000px) { .post-content h4 { font-size: 22px; } }

.post-content h5 { font-size: 20px; }

@media screen and (max-width: 1000px) { .post-content h5 { font-size: 18px; } }

.post-content h6 { font-size: 16px; }

@media screen and (max-width: 1000px) { .post-content h6 { font-size: 14px; } }
